<div class="gene_category_input">
	<label for="Category">Category:</label>
	<input type="text" class="gene_category" />
	<label>Genes:</label>
	<button class="add_gene_button">Add Gene</button>
	<div class="gene_container"></div>
</div>