<div class="gene_info_input">
	<label for="GeneName">Gene Name:</label>
	<input type="text" class="gene_name"  />
	<label for="GenderCheck">Do you care about Gender?</label>
	<input type="checkbox" class="gender_check"   />
</div>